.serviceBG
{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(/Assets/images/ServicesColorful.jpg);
  background-size: cover;
  background-position: center;
}

.projectBG
{

    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(//Assets/images/ProjectAbstract.jpg);
  background-size: cover;
  background-position: center;

}

.contactBG
{

    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(/Assets/images/contact.png);
  background-size: cover;
  background-position: center;

}



.mainBG
{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(/Assets/images/mainPage1.jpg);
  background-size: cover;
  background-position: center;

}

.fas
{
    height: 30px;
    size: 30px;
    font-size: 45px;
}

.mainAbout
{
   position: absolute;
   left: 85%;
   top: 75%;


}
