.serviceBG
{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(/Assets/images/ServicesColorful.jpg);
  background-size: cover;
  background-position: center;
}

.projectBG
{

    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(//Assets/images/Photoshop.png);
  background-size: cover;
  background-position: center;

}