<div class="container">
    <h1>About Me</h1>
    
    <img src="/Assets/images/About.jpg" alt="background img">




    <div class="card" style="width: 18rem;">
  <img src="/Assets/images/51554.jpg" class="card-img-top" alt="img">
  <div class="card-body">
    <h5 class="card-title">Abdullah Sheikh</h5>
    
  </div>
</div>




    <div class="alert alert-success" role="alert">
        Life is a continuous journey of learning and helping others to learn, so that you can live forever...<br>
        This is phylosphy that i have following, i alway seeks to learn and gain new skills and experiences<br> 
        in various things, be it Photograpy, Graphic Designing, Swimming and other things.<br>
        I also focus on my career life and try to learn new skills in Programming. I have learned Java and <br>
        C# language software development, as well JavaScript, HTML and CSS for web development.<br>
        I also have computer hardware and technology related knowledge. Here is my CV to know more about me... 

    </div>


</div>



<div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-success">Download My CV</button>
  
  
</div>