
<div style="background-image: url('/Assets/images/contact2.jpg'); height:800px;">

<div class="container">
					<div class="row">
						
					  <div class="col">
            <div class="card" style="width: 35rem;">
  
  <div class="card-body">
    <h2 class="card-title">Get in touch</h2><br>
    <h5 class="card-title">Name: Abdullah Sheikh</h5><br>
    <h5 class="card-title">E-mail: abdullahshaikh225@gmail.com</h5><br>
    <h5 class="card-title">Contact: +91 9891053480</h5><br>
    <h5 class="card-title">Address: Delhi, India</h5><br>
    
  </div>
</div>
            
</div>
<div class="col">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">Contact Me</h1>
  </div>
</div>
       <form action class="container">

       

       

        <div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">First name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your first name">
</div>
 <div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">last name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="your last name">
</div>
 <div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
       <div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">Phone number</label>
  <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="phone number">
</div>
<div class="mb-2">
  <label for="exampleFormControlTextarea1" class="form-label">Write your message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<button type="button" class="btn btn-success">Submit</button>
       </form>

       
</div>



</div>
</div>
</div>









