<div class="container">
    <h1>My Projects</h1>
</div>



<div class="projectBG">

    <div class="card" style="width: 18rem;">
  <img src="/Assets/images/pong.jpg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">I designed a Pong game using Python language in PyCharm IDE.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/swimMang.jpg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">I designed a Swimming Managment GUI using C# language in Visual Studio IDE.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/charity.jpeg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Designed a Photoshop project for a charity organization.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/collage.jpeg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Designed a Photoshop project for collage.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/competion.jpeg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Photography project for a competion.</p>
  </div>
</div>

</div>

