<div style="background-image: url('/Assets/images/contact.png'); height:800px;">



<div class="projectBG">
<h1>My Projects</h1>
<br>

<div class="container">
		<div class="row">
         
         <div class="col-lg-4 col-9">
       
	            <div class="card " style=" height:22rem;" >
                 <img class="card-img-top" height="250px" src="/Assets/images/pong.JPG" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Pong game</h4>
                   <p class="card-text">Designed a Pong game using Python language in PyCharm IDE.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-4 col-9">
       
	            <div class="card " style=" height:22rem;" >
                 <img class="card-img-top" height="250px" src="/Assets/images/swimMang.JPG" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Swimming Managment</h4>
                   <p class="card-text">Developed a Swimming Managment GUI using C# language in Visual Studio IDE.</p>
                 </div>
                </div>
         </div>

	</div>

    <br>

<div class="row">
         
         <div class="col-lg-4 col-9">
       
	            <div class="card " style=" height:23rem;" >
                 <img class="card-img-top" height="280px" src="/Assets/images/charity.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Photoshop project</h4>
                   <p class="card-text">Designed a Photoshop project for a charity organization.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-4 col-9">
       
	            <div class="card " style=" height:23rem;" >
                 <img class="card-img-top" height="250px" src="/Assets/images/collage.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Photoshop project</h4>
                   <p class="card-text">Designed a Photoshop project for collage.</p>
                 </div>
                </div>
         </div>


<div class="col-lg-4 col-9">

       
	            <div class="card " style=" height:23rem;" >
                 <img class="card-img-top" height="280px" src="/Assets/images/competion.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Photography competion</h4>
                   <p class="card-text">Photography project for a competion.</p>
                 </div>
                </div>
         </div>


         
	</div>
    <br><br><br><br><br><br><br><br>


</div>

   
</div>
</div>






