
<div class="serviceBG">
<h1 style="
    color: white;
    text-align: center;
">Our Services</h1>
<br>

<div class="container">
		<div class="row">
         
         <div class="col-lg-6 col-9">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="250px" src="/Assets/images/webDevelopment.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Web Development</h4>
                   <p class="card-text">Web Development using JavaScript, HTML and CSS.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-6 col-9">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="250px" src="/Assets/images/android.jpg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Android Development</h4>
                   <p class="card-text">Android Development using Java in Android Studio.</p>
                 </div>
                </div>
         </div>

	</div>

    <br>

<div class="row">
         
         <div class="col-lg-6 col-9">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="295px" src="/Assets/images/Photoshop.png" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Photoshop</h4>
                   <p class="card-text">Graphic Designing with Photoshop.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-6 col-9">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="295px" src="/Assets/images/Photography.jpg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Photography</h4>
                   <p class="card-text">Professional Photography.</p>
                 </div>
                </div>
         </div>
         
	</div>
    <br><br><br><br><br><br><br><br>


</div>

   
</div>

