<div class="container">
    <h1>Our Services</h1>
</div>



<div class="serviceBG">
<br>

<div class="container">
		<div class="row">
         
         <div class="col-lg-6 col-12">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="220px" src="/Assets/images/webDevelopment.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Website: Magic</h4>
                   <p class="card-text">Web Development usin JavaScript, HTML and CSS.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-6 col-12">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="220px" src="/Assets/images/webDevelopment.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Website: Magic</h4>
                   <p class="card-text">Web Development usin JavaScript, HTML and CSS.</p>
                 </div>
                </div>
         </div>

	</div>

    <br>

<div class="row">
         
         <div class="col-lg-6 col-12">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="220px" src="/Assets/images/webDevelopment.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Website: Magic</h4>
                   <p class="card-text">Web Development usin JavaScript, HTML and CSS.</p>
                 </div>
                </div>
         </div>

<div class="col-lg-6 col-12">
       
	            <div class="card " style=" height:25rem;" >
                 <img class="card-img-top" height="220px" src="/Assets/images/webDevelopment.jpeg" alt="Card img">
                 <div class="card-body text-center">
                   <h4 class="card-title">Website: Magic</h4>
                   <p class="card-text">Web Development usin JavaScript, HTML and CSS.</p>
                 </div>
                </div>
         </div>
         
	</div>


</div>








    <div class="card" style="width: 18rem;">
  <img src="/Assets/images/webDevelopment.jpeg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Web Development usin JavaScript, HTML and CSS.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/android.jpg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Android Development usin Java.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/Photoshop.png" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Designing with Photoshop.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/Assets/images/Photography.jpg" class="card-img-top" alt="background img">
  <div class="card-body">
    <p class="card-text">Professional Photography.</p>
  </div>
</div>
    
</div>

